<!DOCTYPE html>
<html>

<head>
    <title>Rolling Paper</title>
</head>

<body>
    <h2>Messages for {{ recipient['name'] }}</h2>
    <ul>
        {% for message in messages %}
        <li>
            <strong>{{ message.author }}</strong>: {{ message.content }}
            {% if message.file_url %}
            {% if message.file_url.endswith('.mp3') or message.file_url.endswith('.wav') %}
            <audio controls>
                <source src="{{ url_for('static', filename=message.file_url.split('/')[-1]) }}"
                    type="audio/{{ message.file_url.split('.')[-1] }}">
                Your browser does not support the audio element.
            </audio>
            {% elif message.file_url.endswith('.jpg') or message.file_url.endswith('.jpeg') or
            message.file_url.endswith('.png') %}
            <img src="{{ url_for('static', filename=message.file_url.split('/')[-1]) }}" alt="Image" width="200">
            {% else %}
            <a href="{{ url_for('static', filename=message.file_url.split('/')[-1]) }}" target="_blank">Download
                File</a>
            {% endif %}
            {% endif %}
            {% if message.author == session['username'] %}
            <form action="{{ url_for('delete_message', message_id=message._id) }}" method="post">
                <button type="submit">Delete</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('message') }}" method="post" enctype="multipart/form-data">
        <textarea name="content" placeholder="쪽지를 입력하세요." required></textarea>
        <br>
        <input type="file" name="file">
        <br>
        <input type="hidden" name="recipient_id" value="{{ recipient['_id'] }}">
        <button type="submit">Send</button>
    </form>

    <button onclick="window.history.back()">Go Back</button>
</body>

</html>