<!DOCTYPE html>
<html>

<head>
    <title>Rolling Paper</title> <!-- 페이지 제목 설정 -->
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
</head>

<body>
    <div class="bg-stone-800 flex flex-col h-screen items-center justify-between">
        <!--상단 | 롤링페이퍼 주인 이름과 뒤로가기 버튼 -->
        <div id="topbar" class="w-full">
            <nav class="bg-green-700 shadow">
                <div class="px-8 mx-auto">
                    <div class="flex items-center justify-between h-16">
                        <div class="w-full justify-between flex items-center">

                            <!-- 수신자 이름을 제목으로 출력 -->
                            <div class="flex items-center">
                                <!--사용자 이미지-->
                                <div>
                                    {% if recipient.profile_picture %}
                                    <img src="{{ url_for('static', filename=recipient.profile_picture) }}" alt="프로필"
                                        width="100" class="mx-auto object-cover rounded-full h-10 w-10 ">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='default_profile.jpg') }}" alt=""
                                        width="100" class="mx-auto object-cover rounded-full h-10 w-10 ">
                                    {% endif %}
                                </div>
                                <div>
                                    <h2 class="m-5 text-white font-black text-2xl ">Messages for {{ recipient['name'] }}
                                    </h2>
                                </div>
                            </div>

                            <!--사이드바-->
                            <div class="hidden md:block">
                                <div class="flex items-baseline ml-10 space-x-4">
                                    <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                                        href="{{ url_for('users') }}">
                                        돌아가기
                                    </a>
                                    <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                                        href="{{ url_for('logout') }}">
                                        로그아웃
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="flex items-center ml-4 md:ml-6">
                            </div>
                        </div>
                        <div class="flex -mr-2 md:hidden">
                            <button
                                class="text-gray-800 dark:text-white hover:text-gray-300 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
                                <svg width="20" height="20" fill="currentColor" class="w-8 h-8" viewBox="0 0 1792 1792"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="md:hidden">
                    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                        <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                            href="{{ url_for('users') }}">
                            Go Back
                        </a>
                        <a class="text-gray-300 hover:text-gray-800 dark:hover:text-white block px-3 py-2 rounded-md text-base font-medium"
                            href="{{ url_for('logout') }}">
                            로그아웃
                        </a>
                    </div>
                </div>
            </nav>
        </div>



        <!--중간 | 작성된 쪽지들-->
        <ul class="w-full h-full relative">
            {% for message in messages %}

            {% if message.theme == "yellow" %}
            <li id="{{ message._id }}" style="top:{{ message.newy }}px; left:{{ message.newx }}px;"
                class="postit cursor-pointer left-0 top-0 absolute bg-yellow-200 border-yellow-600 text-yellow-600 border-l-4 p-2  min-w-[150px] max-w-sm ">
                {% elif message.theme == "green" %}
            <li id="{{ message._id }}" style="top:{{ message.newy }}px; left:{{ message.newx }}px;"
                class="postit cursor-pointer left-0 top-0 absolute bg-green-200 border-green-600 text-green-600 border-l-4 p-2  min-w-[150px] max-w-sm">
                {% else %}
            <li id="{{ message._id }}" style="top:{{ message.newy }}px; left:{{ message.newx }}px;"
                class="postit cursor-pointer left-0 top-0 absolute bg-stone-200 border-stone-600 text-stone-600 border-l-4 p-2  min-w-[150px] max-w-sm">
                {% endif %}

                {% if message.author == my.nickname %} <!-- 메시지 작성자가 현재 세션의 닉네임과 동일하면 -->
                <div class="flex justify-end h-4">
                    <form
                        action="{{ url_for('delete_message', message_id=message._id, recipient_id=message.recipient_id )}}"
                        method="post" class="text-[0] leading-none"> <!-- 메시지 삭제 폼 -->
                        <!-- 메시지 삭제 버튼 -->
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="w-3 h-3 text-gray-700" viewBox="0 0 1792 1792">
                                <!--x버튼 도형 백터 만듦-->
                                <path
                                    d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z">
                                </path>
                            </svg>
                        </button>
                    </form>
                </div>
                {% else %}
                <div class="mt-4"></div>
                {% endif %}

                <!--파일 관련-->
                {% if message.file_url %} <!-- 파일 URL이 있으면 -->
                <div class="p-4 flex justify-center select-none ">
                    {% if message.file_url.endswith('.mp3') or message.file_url.endswith('.wav') %} <!-- 오디오 파일인 경우 -->
                    <audio controls> <!-- 오디오 플레이어 생성 -->
                        <source src="{{ message.file_url }}" type="audio/{{ message.file_url.split('.')[-1] }}">
                        <!-- 오디오 소스 설정 -->
                    </audio>
                    {% elif message.file_url.endswith('.jpg') or message.file_url.endswith('.jpeg') or
                    message.file_url.endswith('.png') %} <!-- 이미지 파일인 경우 -->
                    <img src="{{ message.file_url }}" alt="Image" width="200" style="-webkit-user-drag: none;">
                    <!-- 이미지 출력 -->

                    <!-- 영상 파일인 경우 -->
                    {% elif message.file_url.endswith('.mp4')%}
                    <video src="{{ message.file_url }}" controls></video>

                    {% else %} <!-- 그 외의 파일인 경우 -->
                    <a href="{{ message.file_url }}" target="_blank">Download File</a> <!-- 파일 다운로드 링크 출력 -->
                    {% endif %}
                </div>
                {% endif %}

                <!-- 메시지 내용 표시 -->
                <p class="text-2xl mx-5 text-center select-none break-all">
                    {{ message.content }}
                </p>

                <!-- 메시지 작성자 표시 -->
                <p class="font-bold text-lg mt-4 mx-2 pl-8 select-none text-right">
                    From. {{ message.author }}
                </p>

            </li>
            {% endfor %}
        </ul>

        <!--하단 | 메세지 작성 폼-->
        <div class="w-full flex ">
            <!--글쓰기 버튼-->
            <div id="editBT" class="editBT flex items-center">
                <div class="rounded-lg bg-gray-400 m-4 p-2">
                    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                        <path
                            d="M.5 10.5l-.354-.354-.146.147v.207h.5zm10-10l.354-.354a.5.5 0 00-.708 0L10.5.5zm4 4l.354.354a.5.5 0 000-.708L14.5 4.5zm-10 10v.5h.207l.147-.146L4.5 14.5zm-4 0H0a.5.5 0 00.5.5v-.5zm.354-3.646l10-10-.708-.708-10 10 .708.708zm9.292-10l4 4 .708-.708-4-4-.708.708zm4 3.292l-10 10 .708.708 10-10-.708-.708zM4.5 14h-4v1h4v-1zm-3.5.5v-4H0v4h1z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </div>

            <div id="editForm" class="flex items-center hidden">
                <!--폼-->
                <form action="{{ url_for('message') }}" method="post" enctype="multipart/form-data"
                    class="w-full max-w-sm space-x-3 m-5 relative ">
                    <div class="w-full max-w-2xl px-5 py-5 m-auto bg-gray-400 rounded-lg shadow dark:bg-gray-800">

                        <div class="grid grid-cols-2 gap-4 m-auto">
                            <div class="col-span-2">
                                <div class="flex justify-between">
                                    <div class="relative flex items-center">
                                        <div class="flex-1 w-full py-2 px-4 font-bold text-gray-800 text-base ">
                                            글쓰기
                                        </div>
                                    </div>
                                    <div id="editBT" class="editBT rounded-lg bg-gray-400 m-4 p-2">
                                        <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                                            width="22" height="22">
                                            <path d="M8 1L1 7.5 8 14m5.5-13l-7 6.5 7 6.5" stroke="currentColor"
                                                stroke-linecap="square"></path>
                                        </svg>
                                    </div>
                                </div>

                            </div>

                            <!-- 메시지 입력 필드 -->
                            <div class="col-span-2">
                                <label class="text-gray-700" for="name">
                                    <textarea id="comment" placeholder="쪽지를 입력하세요." name="content" rows="5" cols="40"
                                        required
                                        class="flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"></textarea>
                                </label>
                            </div>

                            <!-- 파일 업로드 필드 -->
                            <div class="col-span-2">
                                <input type="file" name="file" id="file">
                            </div>

                            <!-- 수신자 ID를 숨김 필드로 전송 -->
                            <input type="hidden" name="recipient_id" value="{{ recipient['_id'] }}">
                            <input id="theme" type="hidden" name="theme" value="dark">

                            <!-- 메시지 전송 버튼 -->
                            <div class="col-span-2 text-right">
                                <button type="submit"
                                    class="py-2 px-4  bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                    Send
                                </button>
                            </div>

                        </div>
                    </div>
                </form>

                <!--테마 변경 버튼-->
                <div>
                    <div class="flex flex-col justify-evenly items-center h-full rounded-lg bg-gray-400 p-4">
                        <button id="stone" class="C_theme my-4 bg-stone-200 w-5 h-5 ring-2 ring-stone-600"></button>
                        <button id="green" class="C_theme my-4 bg-green-200 w-5 h-5"></button>
                        <button id="yellow" class="C_theme my-4 bg-yellow-200 w-5 h-5"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--jquery 연결-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        //테마 색 변경 버튼
        $('.C_theme').on('click', function () {
            $('.C_theme').removeClass(function (index, className) {
                return (className.match(/(^|\s)ring-\S+/g) || []).join(' '); // 기존 ring 제거
            });
            $(this).toggleClass('ring-2 ring-' + this.id + '-600'); // 클릭한 버튼에 ring 추가
            $('#theme').val(this.id); // 색 전달
        });

        //작성 폼 여닫는 버튼
        $('.editBT').on('click', function () {
            $('#editForm').toggleClass('hidden');
            $('#editBT').toggleClass('hidden');
        });

        //드래그 이벤트(쪽지 옮김)
        $(function () {
            $('.postit').on('mousedown', function (e) { // 쪽지 mousedown 이벤트 발생
                let $this = $(this);
                let topbarH = $('#topbar').outerHeight(); // 상단바 높이 저장
                let startX = e.pageX - $this.offset().left; // 시작 X좌표 = 페이지 기준 마우스좌표 - 메모의 x 위치
                let startY = e.pageY - $this.offset().top + topbarH; //위와 동일. 메모는 중간영역 기준이지만 마우스는 전체 페이지 기준이므로 상단바 높이 더해줌.
                $(document).on('mousemove.draggable', function (e) {
                    let newLeft = e.pageX - startX; // 이동거리 = 지금 마우스 좌표 - 이전좌표
                    let newTop = e.pageY - startY;

                    // 부모 요소의 크기 위치 기준으로 최대 상하좌우 거리 계산
                    let parentWidth = $this.parent().width();
                    let parentHeight = document.documentElement.scrollHeight; //상하길이의 경우 하단까지 포함하기 위해 부모 대신 사이트 총 높이 사용 
                    let maxLeft = parentWidth - $this.outerWidth();
                    let maxTop = parentHeight - $this.outerHeight() - topbarH;

                    //메모의 새 좌표 계산, 부모 영역을 벗어나지 않도록 제한
                    newLeft = Math.min(Math.max(newLeft, 0), maxLeft);
                    newTop = Math.min(Math.max(newTop, 0), maxTop);

                    $this.css({ left: newLeft, top: newTop }); //좌표 업데이트

                    e.preventDefault(); //드래그 중 다른 이벤트 발생 방지
                });

                //드래그 종료 시 이벤트 (이벤트 해제, 최종 좌표 DB에 업데이트)
                $(document).on('mouseup.draggable', function () {
                    let id = $this.attr('id');
                    let newX = $this.css('left');
                    let newY = $this.css('top');
                    newX = parseFloat(newX);
                    newY = parseFloat(newY);
                    recipient = "{{ recipient['_id'] }}"

                    $.ajax({
                        url: '/xy_update',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id, newX: newX, newY: newY, recipient: recipient }),

                    });

                    $(document).off('mousemove.draggable mouseup.draggable'); // 드래그 이벤트를 해제

                    e.preventDefault();
                });
            });
        });
    </script>

</body>

</html>